<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.b1b.js.erpandroid_mgr">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/zjy_theme_stautebar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity"/>
        <activity android:name=".CaigoudanEditActivity"/>
        <activity android:name=".KucunFBActivity"/>

        <service android:name=".service.PushService"/>

        <activity android:name=".ProviderManagerActivity">
        </activity>
        <activity android:name=".EditProvider">
        </activity>
        <activity android:name=".ProviderDetailActivity">
        </activity>
    </application>

</manifest>